.container,
.form,
.results-page,
.daily-log-page,
.item-details-page,
.progress-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
}

.column-one-fourth {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
}
