* {
  font-family: Poppins, cursive;
}

body {
  min-height: 100vh;
  display: flex;
  text-align: center;
}

.header {
  color: white;
  background-color: lightgreen;
  border-bottom: 1px solid lightgray;
}

.app-name {
  margin: 0 auto;
  padding: 1rem;
  font-size: 2.2em;
  font-family: 'Caveat', cursive;
  letter-spacing: 0.2em;
}

.goal-question {
  padding: 2rem 0 1rem;
  font-size: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-inputs {
  margin: 0 auto;
  text-align: left;
}

.form > p,
.input > span,
.input > select {
  font-size: 1.3em;
}

.input {
  padding: 1rem 0;
}

.next {
  width: 5rem;
  margin: 3rem auto;
  font-size: 1.3em;
  border-radius: 10px;
}

.footer {
  margin-top: auto;
  justify-content: space-around;
  border-top: 1px solid lightgray;
}

.nav {
  font-size: 2em;
  flex-basis: 25%;
  color: lightgreen;
  padding: 0.5em 0;
}
