* {
  font-family: Poppins, cursive;
}

body {
  min-height: 100vh;
  display: flex;
  text-align: center;
}

.header {
  color: white;
  background-color: lightgreen;
  border-bottom: 1px solid lightgray;
}

.app-name {
  margin: 0 auto;
  padding: 1rem;
  font-size: 2.2em;
  font-family: 'Caveat', cursive;
  letter-spacing: 0.2em;
}

.page-title {
  padding: 2rem 0 1rem;
  font-size: 1.5em;
}

.form,
.results-page {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  margin: 0 auto;
  text-align: left;
}

.form > p,
.input > span,
.input > select {
  font-size: 1.3rem;
}

.input {
  padding: 1rem 0;
}

.next {
  font-size: 1.3em;
  margin: 3rem auto;
  padding: 0.2rem 1rem;
}

.search-bar-suggestions {
  width: 70%;
}

.search-div {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
}

.search-bar,
.search-button {
  font-size: 1.2em;
  height: 2rem;
}

.next,
.search-button,
.item-icon {
  cursor: pointer;
}

.result {
  border: 1px solid gray;
  height: 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.result:hover {
  background-color: rgb(235, 235, 235);
}

.img-div {
  width: 4rem;
  height: 5rem;
  display: flex;
}

.img-result {
  width: 100%;
  object-fit: contain;
}

.result-list {
  padding: 0 1rem;
  margin: 0 auto 5rem;
  text-align: center;
  width: 90%;
}

.result-header {
  justify-content: flex-end;
}

.column-one-fourth {
  justify-content: flex-end;
}

.result-div {
  align-items: center;
  border-top: 1px solid lightgray;
  margin: 0;
}

.result-name {
  font-size: 1.1em;
}

.result-text {
  width: 90%;
  text-align: left;
  margin-left: 10%;
}

.result-description {
  color: rgb(175, 182, 190);
  display: none;
}

.result-header-div {
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result-header-text {
  font-size: 1em;
  color: rgb(175, 182, 190);
  margin: 0;
}

.add {
  font-size: 1.4em;
  color: rgb(175, 182, 190);
}

.fruit {
  border-right: 1px solid lightgray;
}

.icon-div {
  display: flex;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
}

.item-icon {
  font-size: 1.5em;
  color: rgb(175, 182, 190);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid lightgray;
  background-color: white;
}

.nav {
  font-size: 2em;
  color: lightgreen;
  padding: 0.5em 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .result-description {
    display: block;
  }

  .form,
  .results-page {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
}
